In [15]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import talib as ta

ModuleNotFoundError: No module named 'talib'

In [58]:
def strategy_rsi_crossing_above_60(data, window=14):
    delta = data['Adj Close'].diff()
    gain = np.where(delta > 0, delta, 0)
    loss = np.where(delta < 0, -delta, 0)
    avg_gain = pd.Series(gain).ewm(alpha=1/window, adjust=False).mean()
    avg_loss = pd.Series(loss).ewm(alpha=1/window, adjust=False).mean()

    rs = avg_gain / avg_loss
    data['RSI'] = 100 - (100 / (1 + rs))
    
    # Generate signals: 1 when RSI crosses above 60, 0 otherwise
    data['Signal'] = np.where((data['RSI'].shift(1) < 60) & (data['RSI'] > 60), 1, 0)

     # Calculate the position: 1 if signal is triggered, 0 otherwise
    data['Position'] = data['Signal'].diff().fillna(0)

     # Ensure we do not have -1 positions, as we're only interested in buy signals
    data['Position'].replace(-1, 0, inplace=True)

    # Return relevant columns
    return data[['Date','RSI']]

In [18]:
a = pd.read_csv(r'C:\Users\40100171\OneDrive - Anheuser-Busch InBev\Desktop\Stock_market_strategies\data\raw\stock_data_raw.csv.gz', compression='gzip')

In [74]:
a.sort_values(by=['Stock Name', 'Date'], inplace=True)

In [80]:
a

,index,Date,Open,High,Low,Close,Adj Close,Volume,Stock Name
1344998,1344998,2020-01-01,36.000000,36.799999,35.250000,35.799999,34.437885,49077.0,20microns.NS
1344999,1344999,2020-01-02,36.000000,36.200001,35.099998,35.549999,34.197399,25846.0,20microns.NS
1345000,1345000,2020-01-03,35.849998,35.849998,34.950001,35.049999,33.716423,12358.0,20microns.NS
1345001,1345001,2020-01-06,35.500000,35.500000,32.200001,32.799999,31.552029,42082.0,20microns.NS
1345002,1345002,2020-01-07,32.349998,34.799999,32.349998,33.200001,31.936811,24770.0,20microns.NS
...,...,...,...,...,...,...,...,...,...
1886951,1886951,2024-08-16,2230.000000,2244.350098,2205.000000,2225.300049,2225.300049,20975.0,zyduswell.NS
1886952,1886952,2024-08-19,2236.449951,2263.949951,2202.000000,2208.199951,2208.199951,106985.0,zyduswell.NS
1893304,0,2024-08-20,2220.000000,2325.000000,2194.550049,2305.649902,2305.649902,24518.0,zyduswell.NS
1893305,1,2024-08-21,2300.649902,2305.449951,2251.949951,2291.250000,2291.250000,35104.0,zyduswell.NS
1893306,2,2024-08-22,2250.000000,2329.800049,2250.000000,2312.800049,2312.800049,16553.0,zyduswell.NS

In [59]:
#strategy_rsi_crossing_above_60(a.loc[a['Stock Name']=='reliance.NS',])

               Date  RSI
0        2020-01-01  NaN
1        2020-01-02  NaN
2        2020-01-03  NaN
3        2020-01-06  NaN
4        2020-01-07  NaN
...             ...  ...
1885556  2024-08-16  NaN
1885557  2024-08-19  NaN
1891909  2024-08-20  NaN
1891910  2024-08-21  NaN
1891911  2024-08-22  NaN

[1149 rows x 2 columns]

In [76]:
data = a.loc[a['Stock Name']=='reliance.NS',]

In [83]:
data.reset_index(drop=True, inplace=True)

In [84]:
data

,index,Date,Open,High,Low,Close,Adj Close,Volume,Stock Name
0,0,2020-01-01,1387.957031,1396.277466,1376.527954,1380.276611,1356.042725,7002234.0,reliance.NS
1,1,2020-01-02,1382.471069,1408.941040,1382.471069,1403.775024,1379.128662,8855158.0,reliance.NS
2,2,2020-01-03,1401.671997,1409.581055,1392.528687,1405.466553,1380.790527,10492349.0,reliance.NS
3,3,2020-01-06,1389.785767,1397.008911,1369.670410,1372.870605,1348.766846,12259588.0,reliance.NS
4,4,2020-01-07,1388.871338,1403.043579,1383.842529,1393.991699,1369.517090,8341811.0,reliance.NS
...,...,...,...,...,...,...,...,...,...
1144,1885556,2024-08-16,2937.300049,2960.800049,2916.100098,2956.399902,2956.399902,4708451.0,reliance.NS
1145,1885557,2024-08-19,2965.000000,2996.600098,2961.000000,2976.800049,2976.800049,6898096.0,reliance.NS
1146,0,2024-08-20,2994.449951,3007.850098,2980.050049,2991.899902,2991.899902,4205904.0,reliance.NS
1147,1,2024-08-21,2986.500000,3015.750000,2980.000000,2997.350098,2997.350098,3884998.0,reliance.NS
1148,2,2024-08-22,3006.000000,3013.000000,2981.300049,2996.250000,2996.250000,5222891.0,reliance.NS

In [91]:
delta = data['Adj Close'].diff()
gain = np.where(delta > 0, delta, 0)
loss = np.where(delta < 0, -delta, 0)
avg_gain = pd.Series(gain).ewm(alpha=1/14, adjust=False).mean()
avg_loss = pd.Series(loss).ewm(alpha=1/14, adjust=False).mean()

In [92]:
rs = avg_gain / avg_loss

In [93]:
rs

0            NaN
1            inf
2            inf
3       0.669782
4       1.367591
          ...
1144    0.894343
1145    0.994892
1146    1.075041
1147    1.106196
1148    1.098755
Length: 1149, dtype: float64

In [94]:
data['RSI'] = 100 - (100 / (1 + rs))

In [95]:
data['RSI'].tail(20)

1129    41.559165
1130    45.745706
1131    48.397685
1132    46.850025
1133    45.122823
1134    47.773472
1135    44.065401
1136    34.640315
1137    37.072435
1138    39.510265
1139    36.765850
1140    43.538399
1141    40.971403
1142    41.782340
1143    42.683028
1144    47.211261
1145    49.871968
1146    51.808181
1147    52.521031
1148    52.352699
Name: RSI, dtype: float64